*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(4, 4, 60);
}
.form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    padding: 10px;
    /* border: 2px solid red; */
    border-radius: 15px;
    
    background-color: rgb(22, 22, 99);
    width: 18vw;
}
.form h1{
    color: #fff;
    margin: 24px 0px;
}
.form label{
    color: #fff;
    font-size: 1.2rems;
}
.form input{
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    outline: none;
    border-radius: 15px;
    border: 2px solid rgb(22, 22, 99) ;
    font-size: 18spx;

    /* background-color: rgb(3, 3, 81); */
    
}
.form div{
    margin: 23px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* width: 100%; */
}
.form button{
    width: 100%;
    padding: 6px 0px;
    font-size: 1.2rem;
    border-radius: 15px;
    background-color: rgb(6, 6, 75);
    border: 2px solid #200c8c;
    color:#fff;
    margin-bottom: 12px;
    cursor: pointer;
}
.form button:hover{
    background-color: rgb(20, 20, 117);
}